{{define "header"}}
<html>
<head>
<title>ADAM4000 - Webinterface</title>
<style type="text/css">
body {
    background-color: #ddd;
}
th {
    text-align: left;
}
</style>
</head>
<body>
<h1>ADAM4000 Webinterface</h1>
<div></div>
{{end}}
